In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
#Carregar o arquivo .sav
df = pd.read_csv ('14042019.csv', header=None)

In [3]:
df.head()

            0      1      2      3        4        5      6  7    8     9
0  14/04/2019  0:0:0  74.06  28.59  1120.53  1010.34  100.0  0  8.0  0.04
1  14/04/2019  0:0:1  73.75  28.59  1119.78  1010.32  100.0  0  8.0  0.04
2  14/04/2019  0:0:2  73.50  28.59  1119.14  1010.32  100.0  0  7.0  0.03
3  14/04/2019  0:0:3  69.38  28.59  1109.37  1010.32  100.0  0  8.0  0.04
4  14/04/2019  0:0:4  68.31  28.59  1106.82  1010.36  100.0  0  7.0  0.03

In [4]:
df['dateTime'] = df[0] + ' ' +df[1]

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,dateTime
0,14/04/2019,0:0:0,74.06,28.59,1120.53,1010.34,100.0,0,8.0,0.04,14/04/2019 0:0:0
1,14/04/2019,0:0:1,73.75,28.59,1119.78,1010.32,100.0,0,8.0,0.04,14/04/2019 0:0:1
2,14/04/2019,0:0:2,73.50,28.59,1119.14,1010.32,100.0,0,7.0,0.03,14/04/2019 0:0:2
3,14/04/2019,0:0:3,69.38,28.59,1109.37,1010.32,100.0,0,8.0,0.04,14/04/2019 0:0:3
4,14/04/2019,0:0:4,68.31,28.59,1106.82,1010.36,100.0,0,7.0,0.03,14/04/2019 0:0:4

In [6]:
df['dateTime'] = pd.to_datetime(df['dateTime'], format='%d/%m/%Y %H:%M:%S')

In [7]:
#Carregar o arquivo .sav
df.set_index('dateTime', inplace=True)

In [8]:
%matplotlib
sns.boxplot(df.index.hour, df[7]).set( xlabel=' ', 
    ylabel=' ', title=' ')

Using matplotlib backend: Qt5Agg

[Text(0, 0.5, ' '), Text(0.5, 0, ' '), Text(0.5, 1.0, ' ')]